* {
   padding: 0;
   box-sizing: border-box;
}
body {
   background: linear-gradient(to right, #544a7d, #ffd452);
   color: white;
   font-family: "Poppins", sans-serif;
   min-height: 100vh;
   min-width: 100vw;
}
.app-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   & .search {
      margin-right: 20px;
   }
}
